.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ion-header {
  margin-top: 1em;
  margin-left: 1em;
}

ion-title {
  color: white !important;
  background-color: black;
  font-family: 'Fredericka the Great', cursive;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-links > ion-button {
  font-family: 'Cinzel', serif !important;
  --color: white !important;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  background-color: black;
  
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.social-links ion-button {
  margin: 0;
  padding: 0;
  --padding-start: 8px;
  --padding-end: 8px;
}


.toolbar-title {
  padding-top: 2em;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  text-decoration: none;
  font-size: 30px;
}


.title-button .button-inner {
  text-transform: none !important;
}